extends layout

block link-docs 
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/index.js" defer)

block content
  div("data-games").games-section
    div("data-active").game-card
      div.game-info
        div.game-heading Spider-Man: Miles Morales
        div.game-text Following the events of Marvel’s Spider-Man Remastered, teenager Miles Morales is adjusting to his new home while following in the footsteps of his mentor, Peter Parker, as a new Spider-Man. 
        a(href="/games/6411f7703018d04c6bb869e2") 
          button.game-btn Get Now!
        button(data-game-btn="prev").prev-btn Prev.
      div.game-img
        button(data-game-btn="next").next-btn Next
        img(src="./images/banners/spider-man-banner.jpeg", alt="Spider-Man Banner")
    div.game-card
      div.game-info
        div.game-heading Hogwarts Legacy
        div.game-text Experience Hogwarts in the 1800s. Your character is a student who holds the key to an ancient secret that threatens to tear the wizarding world apart. Make allies, battle Dark wizards, and ultimately decide the fate of the wizarding world. Your legacy is what you make of it. Live the Unwritten.
        a(href="/games/6411f7703018d04c6bb869dd") 
          button.game-btn Get Now!
        button(data-game-btn="prev").prev-btn Prev.
      div.game-img
        button(data-game-btn="next").next-btn Next
        img(src="./images/banners/hogwarts-legacy-banner.jpeg", alt="Hogwarts Legacy Banner")
    div.game-card
      div.game-info
        div.game-heading Modern Warfare II
        div.game-text Call of Duty®: Modern Warfare® II drops players into an unprecedented global conflict that features the return of the iconic Operators of Task Force 141. From small-scale, high-stakes infiltration tactical ops to highly classified missions, players will deploy alongside friends in a truly immersive experience.
        a(href="/games/6411f7703018d04c6bb869eb") 
          button.game-btn Get Now!
        button(data-game-btn="prev").prev-btn Prev.
      div.game-img
        button(data-game-btn="next").next-btn Next
        img(src="./images/banners/mw-2-banner.jpeg", alt="Modern Warefare II Banner")
    div.game-card
      div.game-info
        div.game-heading UNCHARTED 4: A Thief's End
        div.game-text Set three years after the events of UNCHARTED 3: Drake’s Deception, Nathan Drake has presumably left the world of fortune-hunting behind. However, it doesn’t take long for fate to come calling when Drake’s brother, Sam, resurfaces seeking his help.
        a(href="/games/6411f76d3018d04c6bb869cf") 
          button.game-btn Get Now!
        button(data-game-btn="prev").prev-btn Prev.
      div.game-img
        button(data-game-btn="next").next-btn Next
        img(src="./images/banners/uncharted-4-banner.jpeg", alt="Uncharted 4 Banner")
  div.recent-section
    div.r-section-heading Recently Added
    div.underline
    div(data-radio-box).radio-box
      button.selected All
      button Games
      button Consoles
      button Accessories
    div.item-cards
      each item in result
        a(href=item.url) 
          div(data-collection-name=item.collection.collectionName).item-card
            div.item-img 
              img(src=`./images/${item.collection.collectionName}/${item.img}.jpeg`, alt="Item")
            div.item-info 
              div.info-company #{item.company}
              div.info-name #{item.name}
              div.info-price $#{Number.parseFloat(item.price).toFixed(2)}
      div.empty-section Nothing to show. Add some items to display them here.
  div.console-section 
    div.console-img 
      img(src="./images/banners/consoles-banner.jpeg", alt="Consoles Banner")
    div.console-info 
      div.c-section-heading Don't have a console? We got you covered!
      div.c-section-text Get the most popular consoles trending right now at incredible prices. We offer timely delivery of items and discounted rates for regular customers. Whether you are an Xbox fan or a Playstation lover, we have something to offer you. 
      a(href="/consoles") 
        button.c-section-btn Shop Now!
  div.icons-section 
    div.icon-package
      div.icon-img 
        svg(xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewbox='0 0 24 24')
          g(fill='none' stroke='currentColor' stroke-linecap='round' stroke-width='1.5')
            path(stroke-linejoin='round' stroke-miterlimit='1.5' d='M8 19a2 2 0 1 0 0-4a2 2 0 0 0 0 4Zm10 0a2 2 0 1 0 0-4a2 2 0 0 0 0 4Z')
            path(d='M10.05 17H15V6.6a.6.6 0 0 0-.6-.6H1m4.65 11H3.6a.6.6 0 0 1-.6-.6v-4.9')
            path(stroke-linejoin='round' d='M2 9h4')
            path(d='M15 9h5.61a.6.6 0 0 1 .548.356l1.79 4.028a.6.6 0 0 1 .052.243V16.4a.6.6 0 0 1-.6.6h-1.9M15 17h1')
      div.icon-text Speedy Delivery
    div.icon-package
      div.icon-img 
        svg(xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewbox='0 0 16 16')
          g(fill='currentColor')
            path(d='M8 10a2 2 0 1 0 0-4a2 2 0 0 0 0 4z')
            path(d='M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z')
      div.icon-text Reasonable Prices
    div.icon-package
      div.icon-img
        svg(xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewbox='0 0 24 24')
          path(fill='currentColor' d='m12 16l1.4-1.4l-1.575-1.6H16v-2h-4.175L13.4 9.4L12 8l-4 4Zm-7 5q-.825 0-1.413-.587Q3 19.825 3 19V5q0-.825.587-1.413Q4.175 3 5 3h4.2q.325-.9 1.088-1.45Q11.05 1 12 1t1.713.55Q14.475 2.1 14.8 3H19q.825 0 1.413.587Q21 4.175 21 5v14q0 .825-.587 1.413Q19.825 21 19 21Zm0-2h14V5H5v14Zm7-14.75q.325 0 .538-.213q.212-.212.212-.537q0-.325-.212-.538q-.213-.212-.538-.212q-.325 0-.537.212q-.213.213-.213.538q0 .325.213.537q.212.213.537.213ZM5 19V5v14Z') 
      div.icon-text Easy Returns
    div.icon-package
      div.icon-img 
        svg(xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewbox='0 0 24 24')
          path(fill='currentColor' d='M12 22q-2.075 0-3.9-.788q-1.825-.787-3.175-2.137q-1.35-1.35-2.137-3.175Q2 14.075 2 12t.788-3.9q.787-1.825 2.137-3.175q1.35-1.35 3.175-2.138Q9.925 2 12 2t3.9.787q1.825.788 3.175 2.138q1.35 1.35 2.137 3.175Q22 9.925 22 12t-.788 3.9q-.787 1.825-2.137 3.175q-1.35 1.35-3.175 2.137Q14.075 22 12 22Zm0-2q3.35 0 5.675-2.325Q20 15.35 20 12q0-1.6-.6-3.075t-1.725-2.6L12 12V4Q8.65 4 6.325 6.325Q4 8.65 4 12q0 3.35 2.325 5.675Q8.65 20 12 20Z')
      div.icon-text 24/7 Open
    div.icon-package
      div.icon-img 
        svg(xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewbox='0 0 24 24')
          path(fill='currentColor' d='M18.72 14.76c.35-.85.54-1.76.54-2.76c0-.72-.11-1.41-.3-2.05c-.65.15-1.33.23-2.04.23A9.07 9.07 0 0 1 9.5 6.34a9.21 9.21 0 0 1-4.73 4.88c-.04.25-.04.52-.04.78A7.27 7.27 0 0 0 12 19.27c1.05 0 2.06-.23 2.97-.64c.57 1.09.83 1.63.81 1.63c-1.64.55-2.91.82-3.78.82c-2.42 0-4.73-.95-6.43-2.66a9.03 9.03 0 0 1-2.24-3.69H2v-4.55h1.09a9.09 9.09 0 0 1 15.33-4.6a8.991 8.991 0 0 1 2.47 4.6H22v4.55h-.06L18.38 18l-5.3-.6v-1.67h4.83l.81-.97m-9.45-2.99c.3 0 .59.12.8.34a1.136 1.136 0 0 1 0 1.6c-.21.21-.5.33-.8.33c-.63 0-1.14-.5-1.14-1.13c0-.63.51-1.14 1.14-1.14m5.45 0c.63 0 1.13.51 1.13 1.14c0 .63-.5 1.13-1.13 1.13c-.63 0-1.14-.5-1.14-1.13a1.14 1.14 0 0 1 1.14-1.14Z')
      div.icon-text Dedicated Support
  div.accessory-section 
    div.accessory-info 
      div.a-section-heading Accessories to go with your favorite consoles!
      div.a-section-text Customize your console as you like. Have a broken controller or need a new case? We have it here. Find high-quality, robust equipment for your consoles. Create your own, unique gaming set-up with incredible accessories.
      a(href="/accessories")
        button.a-section-btn Shop Now!
    div.accessory-img 
      img(src="./images/banners/accessories-banner.jpeg", alt="Accessories Banner")
